{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget</title>
</head>
<body>
  

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-4">Transactions</h1>
        <a href="{% url 'transaction_create' %}" class="btn btn-primary mb-3">Create New Transaction</a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
              <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount }}</td>
                <td><a href="{% url 'transaction_update' transaction.pk %}" class="btn btn-sm btn-warning">Edit</a></td>
                <td><a href="{% url 'transaction_delete' transaction.pk %}" class="btn btn-sm btn-danger">Delete</a></td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">No transactions found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>